<div *ngIf="currRooms" class="container">
    <h1>Join a Room!</h1>
        <button *ngFor="let room of [].constructor(currRooms.length); index as i">
            <a routerLink="/rooms/{{(currPage-1)*(maxRooms)+i+1}}">
                {{currRooms[i].name}}
            </a>
        </button>
    <h3>More rooms</h3>
    <div class="roomPage-container">
        <button *ngIf="currPage > 1" (click)="prevPage()" id="prevPage">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </button>
        <button *ngFor="let page of [].constructor(numPages); index as i" (click)="changePage(i+1)">
            {{i+1}}
        </button>
        <button *ngIf="currPage < numPages" (click)="nextPage()" id="nextPage">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
        </button>
    </div>
    <button>Create new Room</button>
    <button routerLink="">Sign Out</button>
</div>
