<div class="container">
    <h1>Join a Room!</h1>
    <button *ngFor="let room of [].constructor(10); index as i">
        Room {{i+1}}
        <!-- Todo: make each room dynamic: display first 10 rooms in backend,
        display each room's name dynamically -->
    </button>
    <h3>More rooms</h3>
    <div class="roomPage-container">
        <button id="prevPage"></button>
        <button *ngFor="let page of [].constructor(5); index as i">
            {{i+1}}
            <!-- Todo: make the number of pages change dynamically depending on
            total number of rooms in backend database -->
        </button>
        <button id="nextPage"></button>
    </div>
</div>
